{% extends "layouts/layout.njk" %}

{% block content %}
<div class="container">
    CONTENT
    <h1>example block</h1>
    <div class="block-example" style="height: 100px">
        Example block
    </div>
    <h1>example require image</h1>
    <img src="images/square.png" alt="">
    <div style="background-image: url(${require('images/square3.png')}); height: 100px"></div>
</div>
{% endblock %}