{% extends "layouts/layout.njk" %}

{% block content %}
<div class="container">
    CONTENT

    <!-- EXAMPLE REQUIRE IMG -->
    <img src="assets/images/square.png" alt="">
    <div style="background-image: url(${require('assets/images/square3.png')}); height: 100px"></div>
</div>
{% endblock %}